<%= render_taskbar_items([
    { image_path: 'task-bar/flag.svg', alt_text: "CTF Icon", label: "CTF", link: ctf_path },
]) %>
<%= render_terminal(['ctf'], true) %>
<% kit_link="https://www.kit.edu" %>
<% kitctf_link="https://kitctf.de" %>

<div class="landing-container text-white mx-auto">
    <div class="welcome-container text-white text-center">
        <h3 class="font-bold text-5xl">Welcome to my space!</h3>
        <p class="text-2xl">Hey, I'm Adrian.</p>
        <p class="text-2xl">Here you will find my projects and <%= link_to "CTF", ctf_path, class: "font-bold underline" %> writeups. Have fun exploring! </p>
    </div>

    <div class="information-container m-3">
        <div class="student-content-container text-white flex flex-col items-center">
            <%= image_tag("landing/kit.jpg", alt: "KIT", class: "w-full md:w-1/2 h-auto rounded-lg") %>
            <div class="w-full md:w-1/2">
                <h2 class="text-4xl font-semibold">Studies</h2>
                <p class="text-2xl">I'm a master's student of computer science <a href=kit_link class="font-bold underline" target="_blank">@KIT</a> focusing on cyber security.</p>
            </div>
        </div>

        <div class="ctf-content-container text-white flex flex-col items-center">
            <div class="w-full md:w-1/2">
                <h2 class="text-4xl font-semibold">CTF</h2>
                <p class="text-2xl">Together with the <a href=kitctf_link class="font-bold underline" target="_blank">KITCTF</a> team I regularly challenge myself. My main categories are:</p>
                <p class="text-2xl">    - Web</p>
                <p class="text-2xl">    - PWN</p>
            </div>
            <%= image_tag("landing/kitctf.png", alt: "KITCTF", class: "w-full md:w-1/2 h-auto rounded-lg") %>
        </div>
    </div>
</div>
