<%= render_taskbar_items([
    { image_path: 'task-bar/flag.svg', alt_text: "CTF Icon", label: "CTF", link: ctf_path },
]) %>
<%= render_terminal(['ctf'], true) %>
<% kit_link="https://www.kit.edu" %>
<% kitctf_link="https://kitctf.de" %>

<div class="px-10 landing-container text-white flex flex-col items-center justify-center mx-auto space-y-6 text-center">
    <h3 class="font-bold text-5xl">Welcome to my space!</h3>
    <p class="text-2xl">Hey, I'm Adrian aka vurlo.</p>
    <p class="text-2xl">
        I'm a master's student of computer science
        <a href="<%= kit_link %>" class="font-bold underline" target="_blank">@KIT</a>
        focusing on cyber security.
    </p>
    <p class="text-2xl">
        Together with the
        <a href="<%= kitctf_link %>" class="font-bold underline" target="_blank">KITCTF</a>
        team I regularly challenge myself. I love to play Web and occasionally PWN.
    </p>
    <p class="text-2xl">
        Here you will find my
        <%= link_to "CTF", ctf_path, class: "font-bold underline" %>
        writeups and projects.
    </p>
    <p class="text-2xl">Have fun exploring!</p>
</div>
