<%= render_terminal(@writeups, true) %>

<div class="header-container">
  <a href="<%= @ctf["website"] %>" target="_blank">
      <button type="button" class="bg-primary header flex text-white rounded-xl text-5xl px-5 py-2.5 inline-flex items-center">
      <%= fetch_favicon(@ctf["website"]) %>
      <%= @which.upcase %>
    </button>
  </a>
</div>

<div class="writeup-content">
  <div class="writeup-overview">
    <% @ctf_info.each do |writeup, info| %>
      <% writeup_path = "/ctf/#{@which}/#{writeup}" %>
      <% categories = info["categories"] || [ "Unknown category" ] %>
      <% description = info["description"] || "No description available" %>
      <div class="writeup-card bg-primary">
        <%= render_writeup_card(writeup, writeup_path, @which, categories, description) %>
      </div>
    <% end %>
  </div>
</div>
