<% content_for :head do %>
  <title><%= @ctf["terminal_path"].upcase %> CTF Writeups</title>
  <meta name="description" content="Writeups for the <%= @ctf["terminal_path"].upcase %> Capture The Flag (CTF) competition.">
  <meta property="og:title" content="<%= @ctf["terminal_path"].upcase %> CTF Writeups">
  <meta property="og:description" content="Writeups for the <%= @ctf["terminal_path"].upcase %> Capture The Flag (CTF) competition.">
  <meta property="og:type" content="website">
<% end %>

<%= puts "ctf: #{@ctf}" %>

<%= render_taskbar_items([
  { image_path: 'task-bar/flag.svg', alt_text: "CTF Icon", label: "CTF", link: ctf_path },
]) %>
<%= render_terminal(@writeups, true) %>

<div class="ctf-container">
  <div class="header-container">
    <a href="<%= @ctf["website"] %>" target="_blank">
        <button type="button" class="bg-primary header flex text-white rounded-xl text-5xl px-5 py-2.5 inline-flex items-center">
        <%= fetch_favicon(@ctf["website"]) %>
        <%= @which.upcase %>
      </button>
    </a>
  </div>

  <div class="writeup-content">
    <div class="writeup-overview">
      <% @ctf_info.each do |writeup, info| %>
        <% writeup_path = "/ctf/#{@which}/#{writeup}" %>
        <div class="writeup-card bg-primary">
          <%= render_writeup_card(writeup, writeup_path, @which, info) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
