<% content_for :head do %>
  <%= stylesheet_link_tag 'thankfuleyes' %>
<% end %>


<% subpaths = [".", ".."] %>
<% current_path = "/ctf/#{@which}/#{@writeup}" %>

<%= render_terminal(
  [
    {
		command: "ls -lah ~#{current_path}",
		outputs: subpaths.map do |subpath|
      "drwxrwxr-x  5 adrian adrian  4.0K #{@current_time} <a href='#{current_path}/#{subpath}' style='color: #{@paths_color};'>#{subpath}</a>"
        end.unshift(
        "drwxrwxr-x  8 adrian adrian  4.0K #{@current_time} <a href='/' style='color: #{@paths_color};'>~</a>"
      )
    },
  ], 
  true
) %>
<div class="writeup-container">
  <h4 class="writeup-year text-white text-center"><%= @which.upcase %>-<%= @ctf_info.dig(@writeup, "year") %></h4>
  <h1 class="writeup-title text-white"><%= params[:writeup].gsub('.md', '').capitalize %></h1>
  <%= @html_content %>
</div>
