<% footer_icon_class = "bg-tertiary footer-icon" %>

<footer class="bg-gray-800 text-white py-3">
  <div class="footer-container mx-auto text-center">
    <div class="footer-links flex justify-center space-x-6 mb-4">
      <%= link_to(image_tag("task-bar/github.svg", alt: "Github Icon", class: footer_icon_class), "https://github.com/AdrianJunge/", target: "_blank")%>
      <%= link_to(image_tag("task-bar/linkedin.svg", alt: "Linkedin Icon", class: footer_icon_class), "https://www.linkedin.com/in/adrian-junge-998a63296/", target: "_blank")%>
      <%= link_to(image_tag("task-bar/discord.svg", alt: "Discord Icon", class: footer_icon_class), "https://discord.com/users/305624492221267968/", target: "_blank")%>
      <%= link_to(image_tag("task-bar/instagram.svg", alt: "Instagram Icon", class: footer_icon_class), "https://www.instagram.com/adrian_jnge/", target: "_blank")%>
    </div>

    <div class="footer-info">
      <p>© <%= Time.current.year %> All rights reserved</p>
      <p>
        <a href="https://github.com/AdrianJunge/website" target="_blank" class="text-blue-400 hover:underline">
          View Source Code
        </a>
      </p>
    </div>
  </div>
</footer>
