<!DOCTYPE html>
<html>
<head>
  <title>Adrian Junge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "xterm", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag "#{params[:controller]}_#{params[:action]}", "data-turbo-track": "reload" if asset_exists?("#{params[:controller]}_#{params[:action]}.css") %>
  <%= stylesheet_link_tag params[:controller], "data-turbo-track": "reload" if !asset_exists?("#{params[:controller]}_#{params[:action]}.css") && asset_exists?("#{params[:controller]}.css") %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>

  <%= yield :head %>

</head>
<body class="bg-gray-800">
  <div id="taskbar">
    <div class="taskbar-icon" id="terminal-taskbar-icon">
      <%= image_tag("terminal/terminal.svg", alt: "Terminal Icon") %>
    </div>
    <div class="taskbar-icon tooltip-container" id="help-taskbar-icon">
      <%= image_tag("terminal/help.svg", alt: "Help Icon") %>
      <span class="tooltip">Navigation: press one of the hyperlinks in the terminal to navigate to e.g. ctf or contact.</span>
    </div>

    <div class="separator"></div>

    <%= link_to image_tag("terminal/home.svg", alt: "Home Icon"), root_path, class: "taskbar-icon" %>

    <%= link_to image_tag("terminal/flag.svg", alt: "Ctf Icon"), ctf_path, class: "taskbar-icon" %>
    
    <%= link_to image_tag("terminal/about.svg", alt: "About Icon"), about_me_path, class: "taskbar-icon" %>
    
    <%= link_to image_tag("terminal/contact.svg", alt: "Contact Icon"), contact_path, class: "taskbar-icon" %>
  </div>


  <%= yield %>
</body>
</html>
