<!DOCTYPE html>
<html>
<head>
  <title>Adrian Junge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "xterm", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag "#{params[:controller]}_#{params[:action]}", "data-turbo-track": "reload" if asset_exists?("#{params[:controller]}_#{params[:action]}.css") %>
  <%= stylesheet_link_tag params[:controller], "data-turbo-track": "reload" if !asset_exists?("#{params[:controller]}_#{params[:action]}.css") && asset_exists?("#{params[:controller]}.css") %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>

  <%= yield :head %>

</head>
<body class="bg-default">
  <% taskbar_icon_class = "taskbar-icon bg-tertiary hover:bg-accent hover:scale-110" %>
  <% taskbar_label_class = "taskbar-label" %>
  <div id="taskbar-left" class="bg-primary collapsed">
    <div class="taskbar-item">
      <%= image_tag("task-bar/burgermenu.svg", alt: "Home Icon", class: taskbar_icon_class, id: "menu-icon") %>
    </div>
    <div class="taskbar-item">
      <%= link_to image_tag("task-bar/home.svg", alt: "Home Icon"), root_path, class: taskbar_icon_class %>
      <span class="<%= taskbar_label_class %>">Home</span>
    </div>
    <div class="taskbar-item">
      <%= link_to image_tag("task-bar/flag.svg", alt: "Ctf Icon"), ctf_path, class: taskbar_icon_class %>
      <span class="<%= taskbar_label_class %>">Capture The Flag Writeups</span>
    </div>
    <div class="taskbar-item">
      <%= link_to image_tag("task-bar/about.svg", alt: "About Icon"), about_me_path, class: taskbar_icon_class %>
      <span class="<%= taskbar_label_class %>">About Me</span>
    </div>

    <div class="mt-auto">
      <div class="taskbar-item">
        <%= image_tag("task-bar/terminal.svg", alt: "Terminal Icon", class: taskbar_icon_class, id: "terminal-taskbar-icon") %>
        <span class="<%= taskbar_label_class %>">Terminal navigation</span>
      </div>
    </div>

    <div class="mt-auto">
      <div class="taskbar-item">
        <%= link_to image_tag("task-bar/github.svg", alt: "Github Icon"), "https://github.com/AdrianJunge/", class: taskbar_icon_class, target: "_blank" %>
        <span class="<%= taskbar_label_class %>">Github</span>
      </div>
      <div class="taskbar-item">
        <%= link_to image_tag("task-bar/linkedin.svg", alt: "Linkedin Icon"), "https://www.linkedin.com/in/adrian-junge-998a63296/", class: taskbar_icon_class, target: "_blank" %>
        <span class="<%= taskbar_label_class %>">Linkedin</span>
      </div>
      <div class="taskbar-item">
        <%= link_to image_tag("task-bar/discord.svg", alt: "Discord Icon"), "https://discord.com/users/305624492221267968", class: taskbar_icon_class, target: "_blank" %>
        <span class="<%= taskbar_label_class %>">Discord</span>
      </div>
    </div>
  </div>

  <%= yield %>

</body>
</html>
