<!DOCTYPE html>
<html>
<head>
  <title>Adrian Junge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "xterm", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path('favicon.svg') %>

  <%= yield :head %>

</head>
  <body class="bg-default min-h-screen flex flex-col">

    <div class="flex-grow">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
