<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flowbite", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "xterm", "data-turbo-track": "reload" %>


    <link rel="alternate" type="application/rss+xml" title="CTF Writeups (RSS)" href="<%= ctf_feed_url %>">
    <link rel="alternate" type="application/atom+xml" title="CTF Writeups (Atom)" href="<%= ctf_feed_url(format: :atom) %>">

    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.svg') %>

    <% if content_for?(:head) %>
      <%= yield :head %>
    <% else %>
      <title>vurlo</title>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>
  <body class="bg-default min-h-screen flex flex-col">

    <% if current_page?(root_path) == false %>
      <a href="<%= parent_path %>" class="back-button-floating">
        <button
          type="button"
          class="back-button rounded-full w-12 h-12 flex items-center justify-center hover:bg-secondary transition-colors" aria-label="Back"
        >
          <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 12H5M12 19l-7-7 7-7"/>
          </svg>
        </button>
      </a>
    <% end %>

    <div class="flex-grow">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
