<!DOCTYPE html>
<html>
<head>
  <title>Adrian Junge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "xterm", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag "#{params[:controller]}_#{params[:action]}", "data-turbo-track": "reload" if asset_exists?("#{params[:controller]}_#{params[:action]}.css") %>
  <%= stylesheet_link_tag params[:controller], "data-turbo-track": "reload" if !asset_exists?("#{params[:controller]}_#{params[:action]}.css") && asset_exists?("#{params[:controller]}.css") %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>

  <%= yield :head %>

</head>
<body class="bg-default">
  <div id="taskbar-left" class="bg-primary flex flex-col h-screen">
    <%= link_to image_tag("task-bar/home.svg", alt: "Home Icon"), root_path, class: "taskbar-icon bg-tertiary hover:bg-accent" %>
    <%= link_to image_tag("task-bar/flag.svg", alt: "Ctf Icon"), ctf_path, class: "taskbar-icon bg-tertiary hover:bg-accent" %>
    <%= link_to image_tag("task-bar/about.svg", alt: "About Icon"), about_me_path, class: "taskbar-icon bg-tertiary hover:bg-accent" %>

    <div class="mt-auto">
      <%= image_tag("task-bar/terminal.svg", alt: "Terminal Icon", class: "taskbar-icon bg-tertiary hover:bg-accent", id: "terminal-taskbar-icon") %>
    </div>
  </div>

  <%= yield %>

  <div id="taskbar-right" class="bg-primary flex flex-col h-screen">
    <%= link_to image_tag("task-bar/github.svg", alt: "Github Icon"), "https://github.com/AdrianJunge/", class: "taskbar-icon bg-tertiary hover:bg-accent", target: "_blank" %>
    <%= link_to image_tag("task-bar/linkedin.svg", alt: "Linkedin Icon"), "https://www.linkedin.com/in/adrian-junge-998a63296/", class: "taskbar-icon bg-tertiary hover:bg-accent", target: "_blank" %>
    <%= link_to image_tag("task-bar/discord.svg", alt: "Discord Icon"), "https://discord.com/users/305624492221267968", class: "taskbar-icon bg-tertiary hover:bg-accent", target: "_blank" %>
    
    <div class="mt-auto">
      <%= link_to image_tag("task-bar/code.svg", alt: "Website Link Icon"), "https://github.com/AdrianJunge/website", class: "taskbar-icon bg-tertiary hover:bg-accent", target: "_blank" %>
    </div>
  </div>
</body>

</html>
